body {
  background: #f0cca1;
  color: brown;
}

nav {
  background-color: brown;
  color: #f0cca1;
  display: flex;
  flex-flow: row;
}

nav .container {
  @media screen and (min-width: 768px) {
    display: flex;

    .navbar-med-forms {
      flex-grow: 1;
      ul {
        display: flex;
        justify-content: center;
      }
    }

    .navbar-languages {
      margin-top: 8px;
      margin-bottom: 0;
    }

  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar-med-forms > ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 8px
  }
}


.tooltiptext, .tooltiptext_bottom {
  background-color: rgba(255,255,255,1)!important;
  color: black!important;
}

.tooltiptext_bottom {
  margin-top: 5px!important;
}

button span.tooltiptext_bottom::after {
  border-color: transparent transparent rgba(255,255,255,.9) transparent!important;
}

.tooltiptext::after {
  border-color: rgba(255,255,255,.9) transparent transparent transparent!important;
}

.navbar-brand {
  height: unset;
  min-height: 50px;
}

.navbar-languages {
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
}

section.entry_area {
  padding: 0;
  vertical-align: middle;
}

button.btn_medicine_option {
  padding: 0 10px;
  border: 0;
  color: black;
  border-radius: 30px;
  font-size: 18px;
}

button.btn_medicine_option:disabled {
  background-color: green;
  color: white;
}

.btn_lang {
  width: 40px;
  height: 30px;
  border: 0;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

button.btn_lang:disabled {
  /*background-color: red;*/
}

.btn_en_us {
  background-image: url(../images/langs/en_us-64.png); /* 32px*/
}

.btn_de_de {
  background-image: url(../images/langs/de_de-64.png); /* 32px*/
}

.top-inputs {
  margin-top: 20px;
}

.btn_calc {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  background: url("../images/calc.png") no-repeat 50% 50% green;
  margin-bottom: 20px;
  background-size: 60px;
}

.btn_calc .btn_calc_tooltip_text {
  margin-left: -50px!important;
  bottom: 110%!important;
}

div.output {
  font-size: 2.0rem;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 2px;
  height: 2.8rem;
  width: 100px;
  text-align: center;
  background-color: brown;
  color: #fdcca1;
}

.total {
  margin: 20px 0;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .output {
    margin: 0 10px;
    padding: 5px;
    line-height: 1;
  }
}

div.total_amt, span.tooltiptext .total_label {
  background: black;
  color: white;
}

div.total_label, span.total_label {
  color: black;
}

input.entry {
  font-size: 2.0rem;
  font-weight: bold;
  border: 0;
  width: 120px;
  height: auto;
  text-align: center;
  color: black;
  background: white;
  margin-bottom: 3px;
}

select.entry {
  font-size: 2rem;
  font-weight: bold;
  border: 0;
  margin: 0;
  width: 70px;
  height: 30.5667px;
  text-align: start;
  color: black;
  background: white;
  padding-right: 10px;
}

.lg_lbl {
   font-size: 2.1rem;
}

.top_entry {
  top: 1.5px;
  height: 23px;
}

#amt_water {
  width: 60px;
}

#amt_med_per_weight, #amt_med_strength {
  width: 80px;
}

#sel_amt_med_unit {
  margin-left: 5px;
}

#total_weight_unit {
  font-weight: bold;
}

#functional_description {
  font-size: 2.0rem;
}

/* Tooltip container */
.tooltip {
  font-size: 2.0rem;
  position: relative;
  display: inline-block;
  border: none;
  align-content: center;
  text-align: center;
  opacity: 1;
  z-index: unset;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 1.7rem;
  visibility: hidden;
  /*width: 200px;*/
  background-color: brown;
  color: #fdcca1;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Tooltip text */
.tooltip .tooltiptext_bottom {
  font-size: 1.7rem;
  visibility: hidden;
  width: 200px;
  background-color: brown;
  color: #fdcca1;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext_bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext_bottom {
  visibility: visible;
  opacity: 1;
}

.table > tbody > tr > td {
  font-size: 2.0rem;
  border-top-color: inherit;
}

.table > thead > tr > th {
  font-size: 2.0rem;
  border-bottom-color: inherit;
}


.med_entry_rows {
  display: flex;
  flex-direction: column;
}

.med_entry_rows > div {
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 3px 0;
  @media screen and (min-width: 768px) {
    flex-flow: row;
    padding: 0;
  }
}
.med_entry_rows > div:nth-child(even) {
  background-color: rgba(255,255,255,0.4);
}

.med_entry_rows > div > div {
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
.med_entry_rows > div > div:nth-child(1) {
  margin: 0 3px;
  font-weight: bold;
  @media screen and (max-width: 767px) {
    border-bottom: 1px solid #888;
    margin-bottom: 5px;
  }
}

.med_entry_rows__descr {
  flex-grow: 1;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.med_entry_rows__help {
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.med_entry_rows__help ul {
  padding-left: 20px;
}

.med_entry_rows__help input {
  display: none;
}

.med_entry_rows__help label {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
}

.med_entry_rows__help :not(input:checked) + ul {
  height: 0;
  overflow: hidden;
}